/* Additional CSS for Anne added  */
body {
	background: url(../images/background2.gif);
	background-repeat: repeat;
}

header {
	height: 130px;
}


/* numbers  */

.motha {
	top: 260px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #CBD180;
	left: 298px;
} 

.motha:hover {
	top: 142px;
	left: -10px;
	width: 40px;
	height: 40px;
	border-radius: 20px; 
	background-color: #115C9A; 
	text-color: #fff;
	margin-top: -5px;
	margin-left: -5px;
	-webkit-transform: rotate(10deg);
	-moz-transform:    rotate(10deg);
	-ms-transform:     rotate(10deg);
	-o-transform:      rotate(10deg);
	transform :        rotate(10deg);
} 
.motha_b {
	width: 30px;
	height: 30px;
	margin-bottom: 15px;
	margin-left: 65px;
	border-radius: 15px;
	background-color: #CBD180;
	color: #115C9A;
}
.motha_c {
	width: 30px;
	height: 30px;
	margin-bottom: 5px;
	margin-left: 65px;
	border-radius: 15px;
	background-color: #F6EAD3;
}
.side_info {
	width: 186px;
	height: 475px;
	padding-left: 5px;
}
::-webkit-scrollbar {
    width: 1px;
	height: 0px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
	-ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 1px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.number1{
	position:relative;
	padding-top: 15px;
	top: 110px;
	left: 125px;
	width: 75px;
	height: 50px;
}
.number2{
	position:relative;
	padding-top: 15px;
	top: 105px;
	left: 125px;
	width: 75px;
	height: 50px;
}
.number3{
	position:relative;
	padding-top: 15px;
	top: 190px;
	left: 125px;
	width: 75px;
	height: 50px;
}
.number4_9{
	position:relative;
	padding-top: 15px;
	top: 30px;
	left: 30px;
	width: 75px;
	height: 50px;
}
.title {
	padding-left: 15px;
	width: 520px;
}

.aside1 {
	float: left;
	width: 230px;
	height:500px;
	background-image:url(../images/info_als_1_3l.gif);
	background-repeat: no-repeat;
	background-size: contain;
}

.section4 {
	height: 150px;
	width: 230px;
	float: left;
	background-image:url(../images/info_als_4l.gif);
	background-repeat: no-repeat;
	background-size: contain;
}
.section5 {
	height: 150px;
	width: 230px;
	float: left;
	background-image:url(../images/info_als_5l.gif);
	background-repeat: no-repeat;
	background-size: contain;
}
.section6 {
	height: 150px;
	width: 230px;
	float: left;
	background-image:url(../images/info_als_6l.gif);
	background-repeat: no-repeat;
	background-size: contain;
}
.section7 {
	height: 150px;
	width: 230px;
	float: right;
	background-image: url(../images/info_als_7l.gif);
	background-repeat: no-repeat;
	background-size: contain;
}
.section8 {
	height: 150px;
	width: 230px;
	float: right;
	background-image:url(../images/info_als_8l.gif);
	background-repeat: no-repeat;
	background-size: contain;
}
.section9 {
	height: 150px;
	width: 230px;
	float: right;
	background-image:url(../images/info_als_9l.gif);
	background-repeat: no-repeat;
	background-size: contain;
}
