/** Ribbon Nav */

body {
  padding:2.618em;
}
.ribbon {
  font-size: 16px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 850px;
  height: 30px;
  top: 60px;
  display:inline-block;
  position: relative;
  background: #709dc2;
  padding: 1em 2em; /* Adjust to suit */
  margin: -1em;
  margin-bottom: 1em;
}
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 2em solid #115c9a;
  z-index: -1;
}
.ribbon:before {
  left: -3em;
  border-right-width: 2em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -3em;
  border-left-width: 2em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

/* logo  */
.logo {
	position:absolute;
	margin-left: 40px;
	top:-45px;
}

.logo img{
	height: 118px;
}


/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */
